@import 'tailwindcss';

body {
	font-family: 'Poppins', serif;
	font-weight: 400;
	font-style: normal;
}

@theme {
	--font-family: 'Volkhov', serif;
	--font-weight: 400;
	--font-style: normal;
	--color-graybrand: #dedede;
	--color-graybrand-light: #484848;
	--font-poppins: 'Poppins', sans-serif;
	--font-weight: 400;
}

button {
	cursor: pointer;
}
